*{
    box-sizing: border-box;
    background-color: var(--purp);
    color: white;
    font-family: monospace;
}

:root {
    --purp: slateblue;
    --light: #ADEAC3;
  }

h1 {
    font-size: 400%;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 40px;
    margin: 40px;
}

main {
    margin: 0 auto;
    max-width: 948px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 16px 8px;
    width: 300px;
    height: 300px;
    border-radius: 16px;
    border: dashed var(--light);
}

.container:hover,
.container:hover .header-box{
    box-shadow: 0px 0px 20px 4px rgba(159,201,199), 0px 0px 20px 4px rgba(159,201,199);
    transition: box-shadow 0.3s ease-in-out;
}

.header-box {
    border: solid var(--light);
    font-size: 20px;
    padding: 8px;
    width: 75%;
    margin: 0 auto;
    transform: translateY(-50%);
    border-radius: 16px;
    background-color: var(--purp);
}

.explanation{
    margin: 0 auto;
    margin-top: -16px;
    padding: 4px;
    margin: 4px 10px;
    height: 60px;
    border: none;
}

.example-code {
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#78A2CC, var(--light));
    border-radius: 16px;
    height: 150px;
    width: 250px;
    margin: 20px auto;
    padding: 4px;
    text-align: left;
    white-space: pre-line;
    user-select: all;
}

footer {
    font-size: 200%;
    text-align: center;
    margin-bottom: 0 auto;
}