*{
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

h1 {
    font-size: 400%;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 40px;
    margin: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-wrap: wrap;
    margin: 4px;
    width: 300px;
    height: 300px;
    border: dashed black;
}

.header-box {
    box-sizing: border-box;
    border: dotted darkgoldenrod;
    font-size: 20px;
    padding: 8px;
    width: 75%;
    margin: 0 auto;
    transform: translateY(-50%);
    background-color: white;
}

.explanation{
    margin: 0 auto;
    margin-top: -16px;
    padding: 4px;
    margin: 4px;
    height: 60px;
    box-sizing: border-box;
    border: double darkblue;
}

.example-code {
    justify-content: space-around;
    align-items: center;
    margin: 8px auto;
    box-sizing: border-box;
    border: solid black;
    height: 150px;
    width: 250px;
    text-align: left;
    white-space: pre-line;
}

footer {
    font-size: 200%;
    text-align: center;
}