*{
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

h1 {
    font-size: 400%;
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-wrap: wrap;
    max-width: 33.33%;
    border: dashed black;
}

